<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>உனக்காக 💜</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poem.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Kavivanar&display=swap" rel="stylesheet">

</head>
<body>

    <a href="{{ url_for('logout') }}" class="visit-later-btn">🔒 Visit Later</a>
    <img src="{{ url_for('static', filename='images/signature.png') }}" class="signature-image" />

    <button id="audioToggle">🔈</button>

    <audio autoplay loop>
        <source src="{{ url_for('static', filename='audio/Un-Kanney.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <h1 class="poem-title">உனக்காக... 🖤</h1>

    <div class="poem-container">
        <div class="poem-content">
            <p>மூடி மறைந்த மாதரி, 🌙<br>
            முகம் தெரியா கனாகளில் தோன்றும் என் கனிமொழியே… 💭</p>
            <br>

            <p>நிமிர்ந்த செந்நெல் போல் நின்றாய், 🌾<br>
            அழகு அலங்காரமல்ல, ✨<br>
            தோளில் மிதக்கும் கருங்கடல் கூந்தல் தான், 🌊<br>
            அழகை மேலும் மேய்த்துக் காட்டுகின்றது. 🫣</p>
            <br>

            <p>கண்ணாடி இலாமல் கண்கள் காணாதென்று சொன்னாலும், 👀<br>
            அவை என்னை பார்ப்பதற்கே பிறந்தவை என நம்புகிறேன். 💘</p>
            <br>

            <p>நீ பேசும் போத, சுரும்பும் தன் செவிக்கு இடம் தரும், 🐝👂<br>
            நீ பாடும் போது, நீயே இசையாக மாறுகிறாய். 🎶</p>
            <br>

            <p>மூச்சு விட மறுக்கும் ஒரு கணம், உன்னை பார்க்கும் போது, 😮‍💨<br>
            நிறைவே இல்லாத ஒரு காதல் என் உள்ளத்தை கவ்வுகிறது. 💔</p>
            <br>

            <p>இன்னும் சொல்லவில்லை எனது ஆசையை, ஆனால்… 🤐<br>
            காற்று கூட என் இரகசியத்தை தூக்கிச் செல்லும் 🍃<br>
            நீ கடந்த பாதையில்! 👣</p>
            </div>
    </div>

    <script>
        const audio = document.querySelector('audio');
        const toggle = document.getElementById('audioToggle');

        toggle.addEventListener('click', () => {
        if (audio.paused) {
            audio.play();
            toggle.textContent = '🔈';
        } else {
            audio.pause();
            toggle.textContent = '🔇';
        }
        });
    </script>



</body>
</html>
